.main{
    margin: 30px;
}

h1{
   color: rgb(255, 255, 255);
}

.about {
    max-width: 1000px;
    height: 400px;
    margin: 30px auto;
    background-color: #fff;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.footer{
    bottom: 0;
}